h3 {
    background-color: darkslategrey;
    color: antiquewhite;
    text-align: center;
}

h1 {
    font-weight: bolder;
    color: darkslategray;
    background-color: antiquewhite;
    text-align: center;
}

li {
    color: darkslategray;
}

body {
    text-align: center;
}